*{margin: 0; padding: 0;}
body{
    font-family: Verdana, Arial, sans-serif;
    color: #fff;
    text-align: center;
}
#container{
    width:100%;
    max-width:840px;
    margin:0 auto;

}
hgroup{
    background-color: #ff8900;
    padding:10px;

}
li{
    list-style-type: none;
}
ul li.ulHead{
    color:white;
    background-color: #c66a00;
    padding:5px;
    font-size: 16pt;

}
ul li a{
    color:white;
    background-color: #ffaa48;
    display: block;
    padding:10px;
    text-decoration: none;
    border-bottom: 1px solid #ff8900;
    border-top: 1px solid #ffc98a;
    font-size: 14pt;
}

 ul li a:hover{
    color:white;
    background-color: #ffc98a;

}